.p-noticeEdit {
  .l-container {
    position: relative;
  }

  .c-card1 {
    margin: 30px auto 0;
    max-width: 600px;
  }

  .c-form1 {
    margin: 30px auto 0;
  }

  &__footer {
    margin-top: 30px;
    text-align: center;

    .c-link1 {
      text-align: center;
    }
  }

  .c-btn2 {
    position: absolute;
    top: 50px;
    right: 10px;
  }
}
