<div class="p-noticeEdit">
  <section class="l-container">
    <h2 class="c-ttl1">お知らせ編集</h2>
    <div class="c-card1">
      <form
        action="/<%= notice._id %>/update?_method=PATCH"
        method="POST"
        class="c-form1"
      >
        <label
          for="publishedAt"
          class="c-label1"
        >
          公開日
          <input
            id="publishedAt"
            name="publishedAt"
            value="<%= notice.publishedAt %>"
            required
            type="date"
            class="c-input1"
          />
        </label>
        <label
          for="title"
          class="c-label1"
        >
          タイトル
          <input
            id="title"
            name="title"
            value="<%= notice.title %>"
            required
            type="string"
            class="c-input1"
          />
        </label>
        <label
          for="content"
          class="c-label1"
        >
          内容
          <textarea
            id="content"
            name="content"
            required
            type="string"
            class="c-input1"
          >
<%= notice.content %>
        </textarea
          >
        </label>
        <button
          type="submit"
          class="c-btn1"
        >
          更新
        </button>
      </form>
    </div>
    <div class="p-noticeEdit__footer">
      <a
        href="/"
        class="c-link1"
        >お知らせ一覧</a
      >
    </div>
    <a
      href="/new"
      class="c-btn2"
      >新規作成</a
    >
  </section>
</div>
