<section class="p-noticeNew">
  <h2 class="c-ttl1">新規お知らせ作成</h2>
  <form
    action="/notices/create"
    method="POST"
    class="c-form1"
  >
    <label
      for="publishedAt"
      class="c-label1"
    >
      公開日
      <input
        id="publishedAt"
        name="publishedAt"
        type="date"
        class="c-input1"
      />
    </label>
    <label
      for="content"
      class="c-label1"
    >
      内容
      <input
        id="content"
        name="content"
        type="string"
        class="c-input1"
      />
    </label>
    <button
      type="submit"
      class="c-btn1"
    >
      作成
    </button>
  </form>
</section>
