<div class="p-noticeNew">
  <section class="l-container">
    <h2 class="c-ttl1">新規お知らせ作成</h2>
    <div class="c-card1">
      <form
        action="/notices/create"
        method="POST"
        class="c-form1"
      >
        <label
          for="publishedAt"
          class="c-label1"
        >
          公開日
          <input
            id="publishedAt"
            name="publishedAt"
            type="date"
            required
            class="c-input1"
          />
        </label>
        <label
          for="title"
          class="c-label1"
        >
          タイトル
          <input
            id="title"
            name="title"
            type="string"
            required
            class="c-input1"
          />
        </label>
        <label
          for="content"
          class="c-label1"
        >
          内容
          <textarea
            id="content"
            name="content"
            type="string"
            required
            class="c-input1"
          ></textarea>
        </label>
        <button
          type="submit"
          class="c-btn1"
        >
          作成
        </button>
      </form>
    </div>
    <div class="p-noticeNew__footer">
      <a
        href="/notices"
        class="c-link1"
        >お知らせ一覧</a
      >
    </div>
  </section>
</div>
