<section class="p-noticeShow">
  <h2 class="c-ttl1">お知らせ詳細</h2>
  <article class="c-article">
    <h3 class="c-ttl2"><%= notice.content %></h3>
    <p class="c-text1"><%= notice.publishedAt %></p>
  </article>
</section>
