<div class="p-top">
  <section class="l-container">
    <h2 class="c-ttl1">Pomodoro-timer管理画面</h2>
    <ul class="c-list2">
      <li class="c-list2__item">
        <a
          href="https://pomodoro-timer.link/"
          target="_blank"
          class="c-link1"
          >Pomodoro-timer</a
        >
      </li>
      <li class="c-list2__item">
        <a
          href="/notices"
          class="c-link1"
          >お知らせ関連</a
        >
      </li>
    </ul>
  </section>
</div>
